<h1>The Random Vacation Generator!</h1>

<p>Enter a date within the next 1.5 years, and receive a vacation suggestion complete with weather forecasting and country information. Just fill out the form below to get your random vacation!</p>

<form action="/vacayresults" method="post">
  <label for="date">Date</label>
  <input name="date" type="date" id="date" placeholder="YYYY-MM-DD">
  <button>Submit!</button>
</form>
