<!DOCTYPE html>
<html>
  <head>
    <title>Random Vacation Generator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/public/stylesheets/application.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
